h1 {
    font-family: 'Gloria Hallelujah', cursive;
}

.content {
    text-align: center;
}

.generate-haiku {
    color: white;
    background: dodgerblue;
    font-size: x-large;
    border-radius: 5px;
}

.individual-haiku-container {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-style: italic;
}

.newest-haiku {
    font-weight: bold;
}