<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GenereraEnHaikuDikt</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="pure-g">
    <div class="pure-u-sm-1-24 pure-u-md-4-24 pure-u-lg-8-24"></div>
    <div class="pure-u-1 pure-u-sm-22-24 pure-u-md-16-24 pure-u-lg-8-24 content">
        {% block body %}{% endblock %}
    </div>
</div>
<div id="haikuTemplate" class="individual-haiku-container" hidden>
    <span class="haikuText"></span>
</div>
<script src="/static/get_haiku.js"></script>
</body>
</html>